<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.cloub.mapper.User2024Mapper">

    <!-- 通用设置 -->
        <!-- 通用查询列 -->
        <sql id="Base_Column_List">
            id, user_name, user_pwd, user_card
        </sql>

        <!-- 通用条件列 -->
        <sql id="User2024ByCondition">
                    <if test="userName!=null and userName!=''">
                        AND user_name = #{userName}
                    </if>
                    <if test="userPwd!=null and userPwd!=''">
                        AND user_pwd = #{userPwd}
                    </if>
                    <if test="userCard!=null and userCard!=''">
                        AND user_card = #{userCard}
                    </if>
        </sql>

        <!-- 通用设置列 -->
        <sql id="User2024SetColumns">
                    <if test="userName!=null and userName!=''">
                        user_name = #{userName},
                    </if>
                    <if test="userPwd!=null and userPwd!=''">
                        user_pwd = #{userPwd},
                    </if>
                    <if test="userCard!=null and userCard!=''">
                        user_card = #{userCard},
                    </if>
        </sql>

        <!-- 通用查询映射结果 -->
        <resultMap id="User2024Map" type="com.atguigu.cloub.entity.User2024">
                    <id column="id" property="id"/>
                    <result column="user_name" property="userName"/>
                    <result column="user_pwd" property="userPwd"/>
                    <result column="user_card" property="userCard"/>
        </resultMap>

    <!-- 查询表user2024所有信息 -->
    <select id="findAllUser2024" resultMap="User2024Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user2024
    </select>

            <!-- 根据主键id查询表user2024信息 -->
            <select id="findUser2024Byid" resultMap="User2024Map">
                SELECT
                <include refid="Base_Column_List"/>
                FROM user2024
                WHERE id=#{id}
            </select>

    <!-- 根据条件查询表user2024信息 -->
    <select id="findUser2024ByCondition" resultMap="User2024Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user2024
        WHERE 1=1
        <include refid="User2024ByCondition" />
    </select>

            <!-- 根据主键id删除表user2024信息 -->
            <delete id="deleteUser2024Byid">
                DELETE FROM
                user2024
                WHERE id=#{id}
            </delete>

            <!-- 根据主键id更新表user2024信息 -->
            <update id="updateUser2024Byid" parameterType="com.atguigu.cloub.entity.User2024">
                UPDATE user2024
                <set>
                    <include refid="User2024SetColumns"/>
                </set>
                WHERE
                id=#{id}
            </update>

            <!-- 新增表user2024信息 -->
            <insert id="addUser2024">
                INSERT INTO user2024 (
                    id
                    ,user_name
                    ,user_pwd
                    ,user_card
                ) VALUES (
                    #{id}
                    ,#{userName}
                    ,#{userPwd}
                    ,#{userCard}
                )
            </insert>
</mapper>
